# Trabalho Final Nb. 1 - Fundamentos de Big Data

CIMATEC 2025.05

Gustavo Campos

João Carneiro

Uziel Araújo

## Inicialização

In [16]:
# Importa bibliotecas
import pyspark.sql.functions as F
from pyspark.sql import SparkSession

In [17]:
# Inicia sessao spark
sc = SparkSession.builder.appName("SparkSQL") \
    .config("spark.jars.packages", "mysql:mysql-connector-java:8.0.29") \
    .getOrCreate()

## Carregamento

In [18]:
# Monta google drive para acesso ao dataset
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
# Carrega como dataframe spark 'notafiscal.csv', salvo previamente na raiz do drive
path = "/content/drive/MyDrive/"
df = sc.read.csv(path + 'notafiscal.csv', inferSchema=True, header=True)

## Visualização

In [20]:
# Imprime schema e amostra de dados
df.printSchema()

df.show(10)

root
 |-- id_venda: integer (nullable = true)
 |-- cod_cliente: integer (nullable = true)
 |-- nom_cliente: string (nullable = true)
 |-- cod_vendedor: integer (nullable = true)
 |-- nom_vendedor: string (nullable = true)
 |-- cod_cidade: integer (nullable = true)
 |-- nom_cidade: string (nullable = true)
 |-- cod_produto: integer (nullable = true)
 |-- Nom_produto: string (nullable = true)
 |-- cod_marca: integer (nullable = true)
 |-- Nom_marca: string (nullable = true)
 |-- cod_departamento: integer (nullable = true)
 |-- nom_departamento: string (nullable = true)
 |-- cod_gerencia: integer (nullable = true)
 |-- nom_gerencia: string (nullable = true)
 |-- dtc_venda: date (nullable = true)
 |-- qtd_venda: integer (nullable = true)
 |-- val_venda: double (nullable = true)
 |-- num_nota: integer (nullable = true)

+--------+-----------+---------------+------------+---------------+----------+-----------+-----------+------------+---------+-------------+----------------+----------------+------------+-------------------+----------+---------+---------+--------+
|id_venda|cod_cliente|    nom_cliente|cod_vendedor|   nom_vendedor|cod_cidade| nom_cidade|cod_produto| Nom_produto|cod_marca|    Nom_marca|cod_departamento|nom_departamento|cod_gerencia|       nom_gerencia| dtc_venda|qtd_venda|val_venda|num_nota|
+--------+-----------+---------------+------------+---------------+----------+-----------+-----------+------------+---------+-------------+----------------+----------------+------------+-------------------+----------+---------+---------+--------+
|       1|          6|Reginaldo Rossi|           5|    Maria Braga|         1|   Salvador|          4|     Monitor|        4|          IBM|               1|     Informática|           4|   Casa e Decoração|2021-05-10|        1|   1300.0|    1033|
|       2|          5|  Edson Arantes|           3|Issac Palmeiras|         1|   Salvador|         10|    Papel A4|        8|FABER CASTELL|               3|       Papelaria|           3|  Eletro Eletrônico|2023-06-22|        1|     2.15|     812|
|       3|          3|   Renato Russo|           5|    Maria Braga|         4|      Bagdá|         11|     Caneta |        8|FABER CASTELL|               3|       Papelaria|           1|         Tecnologia|2022-11-23|        2|      0.5|     447|
|       4|          5|  Edson Arantes|           1|  Claudio Silva|         3|       Roma|         19|       Fogão|       13|     BRASTEMP|               6| Eletrodomestico|           2|papelaria/cosmético|2022-02-24|        1|   1500.0|     509|
|       5|          6|Reginaldo Rossi|           9|   Diego Santos|         2|Nova Iorque|         16|     Perfume|       11|      PHILIPS|               4|       cosmético|           4|   Casa e Decoração|2023-04-27|        1|    135.0|    1337|
|       6|          1|   João do Pulo|          11| Filipe Almeida|         3|       Roma|         11|     Caneta |        8|FABER CASTELL|               3|       Papelaria|           3|  Eletro Eletrônico|2022-04-20|        1|      0.5|    1337|
|       7|          5|  Edson Arantes|           6|Rodrigo Machado|         4|      Bagdá|          9|Celular  8GB|        8|FABER CASTELL|               2|       Telefonia|           4|   Casa e Decoração|2022-11-16|        1|    12.25|     724|
|       8|          5|  Edson Arantes|           3|Issac Palmeiras|         3|       Roma|         19|       Fogão|       13|     BRASTEMP|               6| Eletrodomestico|           3|  Eletro Eletrônico|2021-11-06|        2|   1500.0|     375|
|       9|          6|Reginaldo Rossi|          12|Marilia Cardoso|         2|Nova Iorque|         20|   Geladeira|       12|    ELETROLUX|               6| Eletrodomestico|           1|         Tecnologia|2021-02-09|        2|    350.0|     416|
|      10|          6|Reginaldo Rossi|           9|   Diego Santos|         1|   Salvador|         15|       Baton|       10|    BOTICARIO|               4|       cosmético|           2|papelaria/cosmético|2023-12-13|        1|     98.5|    1085|
+--------+-----------+---------------+------------+---------------+----------+-----------+-----------+------------+---------+-------------+----------------+----------------+------------+-------------------+----------+---------+---------+--------+
only showing top 10 rows

## Seleção

Separa dados em tabelas 'cliente', 'cidade', 'gerencia' e 'departamento'

In [21]:
# Cria e visualiza amostra da tabela de clientes
df_cliente = df.select('cod_cliente', 'nom_cliente').distinct()

df_cliente.show(5)

+-----------+---------------+
|cod_cliente|    nom_cliente|
+-----------+---------------+
|          3|   Renato Russo|
|          5|  Edson Arantes|
|          4|      Tom Jobim|
|          6|Reginaldo Rossi|
|          1|   João do Pulo|
+-----------+---------------+
only showing top 5 rows

In [22]:
# Cria e visualiza amostra da tabela de cidades
df_cidade = df.select('cod_cidade', 'nom_cidade').distinct()

df_cidade.show(5)

+----------+-----------+
|cod_cidade| nom_cidade|
+----------+-----------+
|         5|  Budapeste|
|         1|   Salvador|
|         4|      Bagdá|
|         3|       Roma|
|         2|Nova Iorque|
+----------+-----------+

In [23]:
# Cria e visualiza amostra da tabela de gerencias
df_gerencia = df.select('cod_gerencia', 'nom_gerencia').distinct()

df_gerencia.show(5)

+------------+-------------------+
|cod_gerencia|       nom_gerencia|
+------------+-------------------+
|           3|  Eletro Eletrônico|
|           1|         Tecnologia|
|           4|   Casa e Decoração|
|           2|papelaria/cosmético|
+------------+-------------------+

In [24]:
# Cria e visualiza amostra da tabela de departamentos
df_dept = df.select('cod_departamento', 'nom_departamento').distinct()

df_dept.show(5)

+----------------+----------------+
|cod_departamento|nom_departamento|
+----------------+----------------+
|               6| Eletrodomestico|
|               3|       Papelaria|
|               7|          Movéis|
|               1|     Informática|
|               4|       cosmético|
+----------------+----------------+
only showing top 5 rows

## Registro

Salva novos dataframes como csv no 'path' (diretório raiz do google drive)

In [25]:
# Converte nomes de clientes para maiusculas
df_cliente = df_cliente.withColumn('nom_cliente', F.upper(F.col('nom_cliente')))

df_cliente.show(5)

# Salva csv do dataframe de cliente
df_cliente.toPandas().to_csv(path + 'notafiscal_cliente.csv', index=False)

#df_cliente.write.format('jdbc').options(
#  url='jdbc:mysql://localhost/bigdatadb',
#  serverTimezone = "UTC",
#  driver='com.mysql.jdbc.Driver',
#  dbtable='cliente',
#  user='bigdata',
#  password='bigdata'
#).save()

+-----------+---------------+
|cod_cliente|    nom_cliente|
+-----------+---------------+
|          3|   RENATO RUSSO|
|          5|  EDSON ARANTES|
|          4|      TOM JOBIM|
|          6|REGINALDO ROSSI|
|          1|   JOÃO DO PULO|
+-----------+---------------+
only showing top 5 rows

In [26]:
# Salva dataframe de cidade no banco mysql
df_cidade = df_cidade.withColumn('nom_cidade', F.upper(F.col('nom_cidade')))

df_cidade.show(5)

# Salva csv do dataframe de cidade
df_cidade.toPandas().to_csv(path + 'notafiscal_cidade.csv', index=False)

#df_cidade.write.format('jdbc').options(
#    url='jdbc:mysql://localhost/bigdatadb',
#    serverTimezone = "UTC",
#    driver='com.mysql.jdbc.Driver',
#    dbtable='cidade',
#    user='bigdata',
#    password='bigdata'
#).save()

+----------+-----------+
|cod_cidade| nom_cidade|
+----------+-----------+
|         5|  BUDAPESTE|
|         1|   SALVADOR|
|         4|      BAGDÁ|
|         3|       ROMA|
|         2|NOVA IORQUE|
+----------+-----------+

In [27]:
# Salva dataframe de gerencia no banco mysql
df_gerencia.toPandas().to_csv(path + 'notafiscal_gerencia.csv', index=False)

#df_gerencia.write.format('jdbc').options(
#    url='jdbc:mysql://localhost/bigdatadb',
#    serverTimezone = "UTC",
#    driver='com.mysql.jdbc.Driver',
#    dbtable='gerencia',
#    user='bigdata',
#    password='bigdata'
#).save()

In [28]:
# Salva csv do dataframe de departamento
df_dept.toPandas().to_csv(path + 'notafiscal_dept.csv', index=False)

#df_dept.write.format('jdbc').options(
#    url='jdbc:mysql://localhost/bigdatadb',
#    serverTimezone = "UTC",
#    driver='com.mysql.jdbc.Driver',
#    dbtable='departamento',
#    user='bigdata',
#    password='bigdata'
#).save()